@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #D6EFF6;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(12px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-12px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-up-animation {
  animation: fade-up 800ms;
}

.fade-down-animation {
  animation: fade-down 800ms;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::-moz-selection {
  color: #d6eff6; 
  background: #0E2983;
}

::selection {
  color: #d6eff6; 
  background: #0E2983;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d6eff6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0E2983;
}